.config/cef_user_data/
.config/dconf/
.config/fish/fish_variables
.config/go/telemetry
.config/pavucontrol.ini
.config/pulse/
.config/chromium/
.config/Slack
.config/Gimp
.config/Google
.config/Code*
.config/Cursor/
.config/Electron/
.config/GIMP/
.config/Insomnia/
.config/LM Studio/
.config/Meltytech/
.config/Postman/
.config/Proton/
.config/QtProject.conf
.config/Summoners War Exporter/
.config/Thunar/accels.scm
.config/astro/
.config/audacious/
.config/audacity/
.config/beekeeper-studio/
.config/btop/
.config/capacitor/
.config/configstore/
.config/dlv/
.config/enchant/
.config/environment.d/
.config/gedit/
.config/git/
.config/github-copilot/
.config/glow/
.config/godot/
.config/google-chrome/
.config/gtk-3.0/bookmarks
.config/helm/
.config/k9s/
.config/nextjs-nodejs/
.config/spicy/
.config/temporalio/
.config/turborepo/
.config/unity3d/
.config/xfce4/
.config/zed/

.local/share/fonts/.uuid
.local/share

result
