.config/cef_user_data/
.config/dconf/
.config/fish/fish_variables
.config/go/telemetry
.config/pavucontrol.ini
.config/pulse/
.config/chromium/
.config/Slack
.config/Gimp
.config/Google
.config/Code*
.local/share/fonts/.uuid
result
